@import url(reset.css);
@import url(general.css);


/* 
MAIN
*/

.blue{
    background-color: #006CFA;
    border: 1px solid white;
    padding: 10px;
}
.text{
    color: white;
    text-align: center;
    font-size: small;
}

.green{
    background-color: #00E165;
    border: 1px solid white;
    padding: 10px;
}




/* 
MEDIA QUERY da Desktop first
*/

/* Tablet */

@media screen and (max-width: 768px){

}


/* Mobile */
@media screen and (max-width: 576px){
    
}



/* 
MEDIA QUERY da Mobile first
*/

/* Tablet */

@media screen and (min-width: 768px){

}


/* Desktop */
@media screen and (min-width: 992px){
    
}


